
{{#partial "content"}}

    <div class="container">
        <div class="jumbotron jumbotron2 hml">
            <div class="row">
                <div class="col-md-4">
                    <li class="sidebar">
                        <ul><a href="/view/rangers">Rangers</a></ul>
                        <ul><a href="/view/locations">Locations</a></ul>
                        <ul><a href="/view/animals">Animals</a></ul>
                        <ul><a href="/view/sightings">Sghtings</a></ul>
                    </li>
                </div>
                <div class="col-md-6">
                    <div class="intro">
                        <h3 class="" >Welcome to Fauna Tailer</h3>
                        <p> Find out different animals spoted in the forest Douglas Fir.</p>
                        <h4>You are a ranger? help us protect all our animals by Reporting the ones you see and their location.below </h4>


                    </div>


                    <div class="w3-dropdown-hover">
                    <button class="w3-button w3-black">Report</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/create/ranger" class="w3-bar-item w3-button">Register the ranger</a>
                        <a href="/create/location" class="w3-bar-item w3-button">Register the location</a>
                        <a href="/create/animal" class="w3-bar-item w3-button">Register the animal</a>
                        <a href="/create/sighting" class="w3-bar-item w3-button">Report sighting</a>
                    </div>
                </div>


                </div>
            </div>
        </div>

    </div>




{{/partial}}

{{> layout.hbs}}